ion-title {
    color: #444;
    font-family: SourceSansPro !important;
    font-weight: bolder;
    font-size: 25px;
    letter-spacing: 1.5px;
  }
  
  ion-toolbar {
    --min-height: 42px !important;
  }